<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">

  <style>
    .footer-fragment {
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background-color: #252050;
      color: #ccc;
      padding: 10px 0 0;
    }
    .footer-copyright {
      color: #666;
      padding: 5px 0;
    }
  </style>

  <footer class="footer-fragment">
    <div class="container">

      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h6 class="text-uppercase font-weight-bold">Dodatkowe informacje</h6>
          <p>Politechnika Białostocka: Maciej Sobolewski. Michał Doroszkiewicz. Mateusz Pogrebniak.</p>
          <p class="footer-copyright">©2022 Copyright: StorageProject</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <h6 class="text-uppercase font-weight-bold">Kontakt</h6>
          <p>Wiejska 45A, 15-351 Białystok
            <br/>xyz@pb.edu.pl
            <br/>+01 234 567 89</p>
        </div>

      </div>
    </div>
  </footer>
</div>